<div id="menu-screen">
    <a href="#" id="back-link"><img src="img/icons/back.svg" id="back-arrow"/></a>
    <div id="menu-header">

    </div>
    <table id="main-menu-table" class="table-hover">
        <tr>
            <td class="info"><p id="gastronomy-link">{{one}}<img class="center-block img-responsive"
                                                                              src="./img/icons/bluefood.svg"
                                                                              style="fill: '#5ecbea'"/></p>
            </td>
            <td class="info"><p id="music-link">{{two}}<img class="center-block img-responsive"
                                                                              src="./img/icons/bluemusic.svg"
                                                                              style="fill: '#5ecbea'"/></p></td>

        </tr>
        <tr>
            <td class="info"><p id="sport-link">{{three}}<img class="center-block img-responsive"
                                                                    src="./img/icons/bluebike.svg"
                                                                    style="fill: '#5ecbea'"/></p>
            </td>
            <td class="info"><p id="nature-link">{{four}}<img class="center-block img-responsive"
                                                                      src="./img/icons/bluenature-5.svg"
                                                                      style="fill: '#5ecbea'"/></p>
            </td>
        </tr>
        <tr>
            <td class="info"><p id="other-info-link">{{five}}<img class="center-block img-responsive"
                                                                        src="./img/icons/blueshape.svg"
                                                                        style="fill: '#5ecbea'"/></p>
            </td>
            <td class="info"><p id="practical-info-link">{{six}}<img class="center-block img-responsive"
                                                                            src="./img/icons/blueinterface.svg"
                                                                            style="width:80%; margin-top:10px"/></p>
            </td>
        </tr>
    </table>
</div>