<div id="together-screen">

    <div id="menu-header">
        <div id="back-arrow-link">
            <a href="#" id="back-link"><img src="img/icons/back.svg" id="back-arrow"/></a>
        </div>


        <h1>{{title}}</h1>
        <img src="./img/icons/{{background}}.svg">
    </div>
    <table id="main-menu-table" class="table-hover">
        <tr>
            <td class="info">
                <p id="one">
                    {{one}}
                    <img class="center-block img-responsive"
                         src="./img/icons/{{one}}.svg"
                         style="fill: '#5ecbea'"/>
                </p>

            </td>
            <td class="info"><p id="{{two}}">{{two}}<img class="center-block img-responsive"
                                                         src="./img/icons/{{two}}.svg">
            </p>
            </td>

        </tr>
        <tr>
            {{#ifCond three "brak"}}

            {{else}}
                <td class="info"><p id="{{three}}">{{three}}<img class="center-block img-responsive"
                                                                 src="./img/icons/{{three}}.svg">
                </p>
                </td>
            {{/ifCond}}

            {{#ifCond four "brak"}}

            {{else}}
                <td class="info"><p id="{{four}}">{{four}}<img class="center-block img-responsive"
                                                               src="./img/icons/{{four}}.svg">
                </p>
                </td>
            {{/ifCond}}
        </tr>
        <tr>
            {{#ifCond five "brak"}}

            {{else}}
                <td class="info"><p id="{{five}}">{{five}}<img class="center-block img-responsive"
                                                               src="./img/icons/{{five}}.svg">
                </p>
                </td>
            {{/ifCond}}

            {{#ifCond six "brak"}}

            {{else}}
                <td class="info"><p id="{{six}}">{{six}}<img class="center-block img-responsive"
                                                             src="./img/icons/{{six}}.svg">
                </p>
                </td>
            {{/ifCond}}
        </tr>
    </table>
</div>